.header-logo-om {
  width: 152px;
  display: block;
  position: relative;
  z-index: 1;

  @include md {
    width: 152px;
  }

  .figure-om {
    width: 100%;
  }

  img {
    width: 100%;
    object-fit: contain;
  }
}
