.lang-toolbar_ {
  display: flex;
  margin-inline-end: 30px;

  @include sm {
    position: absolute;
    top: 20px;
    inset-inline-start: 20px;
  }

  .lang_link__ {
    display: flex;
    align-items: center;
    color: $h_color_1;

    @include sm {
      color: #fff;
    }

    &::before {
      content: url("../images/language.svg");
      margin-inline-end: 10px;
      height: 22px;
      display: block;

      @include sm {
        filter: brightness(0) invert(1);
      }
    }
  }
}
