// swiper slider
.swiper-button-next,
.swiper-button-prev {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: rgba($color_2, 0.1);
  transition: 0.5s;
  overflow: hidden;

  &.swiper-button-disabled {
    // opacity: 1;
  }

  &::after {
    content: url("../images/shapes/slider-right-arrow.svg");
    display: block;
    position: static;
    height: 57px;
    transform: unset;

    @include dir {
      transform: rotateY(-180deg);
    }
  }

  &:hover {
    background-color: $color_2;

    &::after {
      filter: brightness(0) invert(1);
    }
  }
}

.swiper-button-next {
  &::after {
    transform: rotateY(-180deg);

    @include dir {
      transform: rotateY(0);
    }
  }
}

// swiper-pagination
.swiper-pagination {
  position: static;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
  margin: 0 2px;
  border-radius: 4px;
  background-color: #f5f5f5;
  opacity: 1;
  width: 8px;
  height: 4px;

  &.swiper-pagination-bullet-active {
    // background-color   : $color_1;
    background-color: $color_1;
    width: 29px;
  }
}

// ###################################################################
